.max-width-120 {
    max-width: 120px;
}

.header-logo {
    display: block;
    height: auto;
    max-width: 52px;
}

@media (max-width: 767px) {
    .max-width-120.header-logo {
        max-width: 96px;
    }
}
